/* HotelInfo.module.css */

.radio-container {
  text-align: left;
  padding: 15px;
}

.radio-container label {
  font-size: 1.2rem;
  padding: 5px;
}

.radio-container input[type='radio'] {
  margin-right: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin-left: 20px;
}

.radio-container input[type='radio']:checked {
  background-color: var(--primary-color);
  border: 1px solid white;
}

.hotel-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hotel-input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.hotel-input label {
  font-size: 0.9rem;
  text-align: left;
}

.hotel-input input,
.hotel-input select {
  flex: 1;
  min-width: 70px;
  max-width: 300px;
  height: 50px;
  padding: 10px;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin: 2px;
  box-sizing: border-box;
}

.hotel-input input:focus {
  border: 1px solid black;
  outline: none;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  max-width: 300px;
}

.dropdown-toggle {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

.dropdown-content {

  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  background-color: var(--white-color);
  color: var(--black-color);
  width: 100%;
}

.custom-dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content select {
  width: calc(100% - 20px);
  height: 40px;
  margin: 12px 0px;
  padding: 0px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.rooms-container,
.guests-container {
  display: flex;
  margin: 8px 0;
}

.rooms-container button,
.guests-container button {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
}

.rooms-container button:hover,
.guests-container button:hover {
  background-color: var(--button-hover-color);
}

.rooms-container span,
.guests-container span {
  padding: 10px 15px;
}

.hotel-search {
  height: 44px;
  padding: 0px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.hotel-search:hover {
  color: var(--white-color);
  background-color: var(--button-hover-color);
}

.location-modal {
  background-color: white;
  border-radius: 6px;
  width: 300px;
  margin: auto;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  top: 85px;
}

.location-modal p {
  text-align: left;
  color: #000000;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.location-modal p:last-child {
  border-bottom: none;
}

.location-modal p:hover {
  background-color: #f0f0f0;
}

/* Styles for Room and Guest Modals */
.room-guest-modal {
  background-color: white;
  border-radius: 6px;
  width: 300px;
  margin: auto;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  top: 85px;
}

.room-guest-modal p {
  text-align: left;
  color: #000000;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.room-guest-modal p:last-child {
  border-bottom: none;
}

.room-guest-modal p:hover {
  background-color: #f0f0f0;
}
