.maincontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.808)), url(https://images.unsplash.com/photo-1539201299177-2af0fae3d77f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 30px ;
}
.container {
    max-width: 400px;
    margin: 0 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--primary-color); /* Adjust color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
  
  .forgetTitle {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 6px;
  }
  
  .forgetSubTitle {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
  }
  
  .emailview {
    padding-bottom: 20px;
  }
  
  .email {
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  .enteremail {
    width: 100%;
    height: 55px;
    border: 1px solid #d8dadc;
    border-radius: 6px;
    padding: 0 16px;
    font-size: 16px;
  }

  .enteremail:focus {
    border: 1px solid var(--primary-color);
    outline: none;
  }
  
  .sendCodebtn {
    width: 100%;
    padding: 15px;
    background-color: #4f718a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }

  .sendCodebtn:hover {
    background-color: var(--button-hover-color);
  }
  
  .rememberBtnContainer {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -10px;
}

.rememberText {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 10px; 
    line-height: 1; 
    padding-top: 18px;
}

.loginText {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: inline-block; 
    border: 1px solid transparent; 
    transition: border-color 0.3s ease; 
    height: 20px;
}

.loginText:hover {
    color: var(--primary-color);
    text-decoration: underline;
    
}

  