.maincontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.808)), url(https://images.unsplash.com/photo-1539201299177-2af0fae3d77f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 30px ;
}
.container {
    max-width: 400px;
    margin: 0 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .passwordChangedTitle {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  
  .passwordChangedSubTitle {
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .passwordChangedbtn {
    width: 100%;
    padding: 15px;
    background-color: #4f718a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }


  .passwordChangedbtn:hover {
    background-color: var(--button-hover-color);
  }
  
  .passwordChangedtext {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  