.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }
  
  .passwordChangedTitle {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-horizontal: 20px;
  }
  
  .passwordChangedSubTitle {
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
    padding-horizontal: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .passwordChangedbtn {
    width: 85%;
    height: 55px;
    background-color: #4f718a;
    border-radius: 6px;
    margin-horizontal: 20px;
    margin-vertical: 10px;
  }
  
  .passwordChangedtext {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-vertical: 14px;
    color: #ffffff;
  }
  