.container-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1539201299177-2af0fae3d77f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.flights-container {
    background-color: rgba(92, 92, 92, 0.548);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: var(--white-color);
    width: 100%;
}
 
.trending-container{
    margin: 25px auto;
}

.trending-container h1{
    text-align: center;
    padding: 15px 0px;
    font-size: 2.0rem;
    font-weight: 600;
}

.Show-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}
.Show-more-container button {
    height: 44px;
    padding: 0px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
}

.Show-more-container button:hover {
    color: var(--white-color);
    background-color: var(--button-hover-color);
    border: none;
}

.slider-header{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.slider-items {
    padding: 0 10px;
  }

  .slider-item {
    padding: 0 10px;
    width: 100%;
    max-height: 200px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 244, 245);
  }
  
.slider-image {
    display: block;
    width: 100%;
    object-fit: contain;
  }
  
  
  
  
  
  